*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* navbar css */
.logo{
  font-size: 30px;
  font-weight: 700;
  color: #1281c2;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  border-bottom: 2px solid #000;
}

nav ul li{
  list-style: none;
margin: 0px 15px;
padding: 10px;

}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
 
}
nav ul li a.active{
  border-bottom: 2px solid #1281c2;
  color: #1281c2;
 
 }
 
.pro{
  background-color: rgb(247, 247, 12);
  color: rgb(14, 13, 13);
  border-radius: 20px;
}
.login a{
  text-decoration: none;
  color: white;
}
/* NAVBAR CSS */

/* home page */
.para{
  color: #7e7575;
  text-align: justify;
}
.box,.box1{
  margin-top: 40px;
}

.box1 img{
  width:100%;
  height: 400px;
  
}

/* home page team section */
.team_section{
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team_contain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:10px 10px;
}
.team_ser{
  max-width: 30%;
  text-align: center;
  cursor: pointer;
  margin: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.teambtn{
  padding: 10px;
}
.team_ser .button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
border-radius: 10px;
}
.teamimg img{
width: 100%;
height: 200px;
}

.team_ser .button:hover {
background-color: #555;
}
.position_team h5{
  margin: 10px 10px;
  color: gray;
}
.title_team h2{
  margin: 10px 10px;
}
.dec_team p{
text-align: justify;
margin: 10px 10px;
}
/* home page team section */


/* home page service section */
.service_sec{
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.contain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.servicebox{
  max-width: 33%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.icons{
  display: inline-block;
  width: 70px;
  height: 70px;
margin-top: 10px;
margin-bottom: 10px;
  transform: rotate(45deg);
  margin: 16px 20px;
  background-color:#1281c2 ;
}
.icons i{
line-height: 60px;
transform: rotate(-45deg);
text-align: center;
color: #fff;


}
.title h2{
  margin: 10px 10px;
}
.dec p{
text-align: justify;
margin: 10px 10px;
}
.readmore{
margin-top: 10px;
margin-bottom: 10px;
}
.readmore a{
text-decoration: none;
font-size: 18px;
}
/* home page service section */
/* home page developer section */
.overlay{
outline: none;
  width: 100%;
  height: 53vh;
  min-width: 350px;
    border: none;
  position: relative;
  background: linear-gradient(45deg,#635e66,#3a7ada);
  /* background: linear-gradient(45deg,#8614ce,#ff0057); */
  /* background: url("images/gallery-img-01.jpg"), linear-gradient(45deg,#080808,#070707); */
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; 
background-blend-mode: screen;
  padding-top: 20px;
      
}
.overlay::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  clip-path: polygon(100% 0 ,0 100%,100% 100%);
}
.deve{
 z-index: 11;
 padding: 10px;
 width: 80%;
 height: 80%;
 margin: 0 auto;
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.deve h2{
color: #fff;
 font-size: 40px;
}
.deve p{
 color: #fff;
 font-size: 20px;
 text-align: center;
}
/* home page developer section */
/* our blog */

.blog{
  width: 90%;
}

.search{
background-color: #1281c2;
color: #fff;
font-size: 20px;
}
.blogcolor{
  transform: scale(1);
  transition: transform 1s;
}
.blogcolor:hover{
  transform: scale(1.04);
}

.serbox{
  margin-top: 60px;
}
.serbox1 img{
  width:100%;
  height: 400px;
  margin-top: 30px;
  
}

/* blogdetail css */

/* footer */

.fb i{
  color:blue;
  font-size: 30px;
  }
  .tb i{
  color:red;
  font-size: 30px;
  }
  .int i{
  color:#f24165;
  font-size: 30px;
  }


  .blog{
    padding: 100px 0px 60px;
 

  }
.blog h1{
  font-size: 30px;
  font-weight: bold;
}  


.blogset,.imgset {
  margin: 80px 0px;
}

.imgset h2{
  font-size: 30px;
  font-weight: bold;
}



/*   blog page ke liye hai*/
/* .pop{ */
  /* margin-top: 10px; */
  /* border-top: 2px solid rgb(44, 37, 37); */
  /* width: 71%; */
/* } */

.blogrow{
  width: 71%;
}

.imp{
  border: 1px solid rgb(75, 73, 77);
}

/* about */
.about{
  padding: 100px 0px 50px;
}
.apara{
  text-align: justify;
}



.full img{
  width: 100%;
  height: auto;
}


.fa-user-alt{
  color:#1281c2;
  font-size: 25px;
}

.blogmd{
  text-align: center;
}


/* not fount */
.notfount{
  width: 90%;
  height: 50vh;
  display: grid;
  place-items: center;
}
.boxi img{
  position: relative;
  width: 90%;
  height: 50vh;
}
